<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>게시물 추가</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

</head>
<body>
<div class="container">

    <h1 class="page-holder" align="center">게시물 작성</h1>
    <form action="/blog/add_blog/" method="post"/>
        <div class="form-group">
            {% csrf_token%}
            <p><label>제목</label><input name="title" class="form-control"></p>
            <p><label>작성자</label><input name="writer" class="form-control"></p>
            <p><label>내용</label></p>
            <textarea name="content" cols="50" rows="20" class="form-control"></textarea>

        </div>
     <p><input type="submit" class="btn btn-primary pull-right" value="게시물 저장"></p>
    </div>
</body>
</html>